img {
    width: 300px;
    height: 300px;
    /* height of container */
    object-fit: cover;
    border-radius: 5px;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, 0.5);

}

.block-text {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time {
    margin-right: 10px;
}

.timeContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

h4 {
    margin-top: 20px;
}

.dateOfLaunch {
    margin-top: 20px;
}

body {
    /* background-color: rgb(203, 203, 203); */
    background: url('https://cs5.pikabu.ru/images/big_size_comm_an/2015-11_6/1448716197119413644.gif') repeat right top;
    background-size: 100%
}

html {
    height: 100%;
}
.time {
    display: flex;
    flex-direction: column;
    align-items: center;
}